RANDFILE        = $CAHOME/.rnd
oid_section     = new_oids
[ new_oids ]
tsa_policy1 = 1.2.3.4.1
tsa_policy2 = 1.2.3.4.5.6
tsa_policy3 = 1.2.3.4.5.7
[ ca ]
default_ca       = CA_default             # 默认使用的ca配置段
[ CA_default ]
dir              = $CAHOME                # ca的工作目录，全局变量
database         = $dir/index.txt         # 数据库索引文件
new_certs_dir    = $dir                   # 默认生成新证书的目录
serial           = $dir/serial            # 当前序列号
crlnumber        = $dir/crlnumber         # 当前证书吊销列表序列号
crl              = $dir/crl.pem           # 当前证书吊销列表文件
private_key      = $dir/private/ca.key    # CA的私钥文件
RANDFILE         = $dir/private/.rand     # 专用的随机数文件
x509_extensions  = usr_cert               # 添加到证书中的扩展项
name_opt         = ca_default             # 自定义名称选项
cert_opt         = ca_default             # 证书字段可选项
default_days     = 365                    # 默认发布的证书有效天数
default_crl_days = 30                     # 发布下列吊销证书列表的间隔天数
default_md       = default                # 默认使用公钥摘要算法
preserve         = no                     # 证书请求签发的DN域各种参数是否与证书中的各种参数顺序保持一致
policy           = policy_match
[ policy_match ]
countryName            = match
stateOrProvinceName    = match
organizationName       = match
organizationalUnitName = optional
commonName             = supplied
emailAddress           = optional
[ policy_anything ]
countryName            = optional
stateOrProvinceName    = optional
localityName           = optional
organizationName       = optional
organizationalUnitName = optional
commonName             = supplied
emailAddress           = optional
[ req ]
default_bits        = 2048
default_md          = sha1
default_keyfile     = privkey.pem
distinguished_name  = req_distinguished_name
attributes          = req_attributes
x509_extensions     = v3_ca
string_mask = utf8only
[ req_distinguished_name ]
countryName                = 国名 (2个字母的国家代码)
countryName_default        = CN
countryName_min            = 2
countryName_max            = 2
stateOrProvinceName        = 州或省名 (全称)
localityName               = 所在地 (城市)
localityName_default       = BeiJing
0.organizationName         = 组织名 (如公司名称)
0.organizationName_default = xinghan
organizationalUnitName     = 组织单位名 (如部门)
commonName                 = 授权单位 (比如申请客户端证书，你可以填写你的姓名；申请服务器端证书，请填写你的服务器访问域名或IP)
commonName_max             = 64
emailAddress               = 邮箱
emailAddress_max           = 64
[ req_attributes ]
challengePassword     = 私钥保护密码
challengePassword_min = 4
challengePassword_max = 20
unstructuredName      = 可选填公司名称
[ req_attributes ]
challengePassword     = 私钥保护密码
challengePassword_min = 4
challengePassword_max = 20
unstructuredName      = 可选填公司名
[ usr_cert ]
basicConstraints       = CA:FALSE
nsComment              = "OpenSSL Generated Certificate"
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
